#blog h3, h4{
	text-align: center;
}


#blog .contenedor{
	display: flex; /*hace que las imagenes esten en una sola linea*/
	justify-content: center;
	flex-wrap: wrap; /*para que los elemntos que no caben se bajen uno debajo del otro*/
}

#blog article{
	margin: 15px;
}

#blog img{
	width: 100%;
	height: 90%;
	max-width: 280px;
}