#menu-bar{ /*se refiere al input*/
	display: none;
}

header label{
	float: right; /*se posiciona a la derecha del header*/
	font-size: 28px; 
	margin: 6px 0;
	cursor: pointer; /*cuando paso el cursor aparece una manito*/
}

.menu{ /*nav*/
	position: absolute;
	top: 50px; /*este numero coincide con la altura de menu a*/
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51, 0.9);
	transition: all 0.5s; /*el tiempo que dura en esconderse*/
	transform: translateX(-100%); /*se esconde de manera horizontal*/
}

.menu a{
	display: block;
	color: #fff;
	height: 50px; /*coincide con el top position de menu*/
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
	background-color: red;
}

#menu-bar:checked ~ .menu{ /*cuando vuelve a dar clic sobre el menu este aparece*/
	transform: translateX(0%); 
}

@media (min-width:1024px) {
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
	}

	.menu a{
		border: none;
	}

	header label{
		display: none;
	}

}

